.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapper {
  padding: 20px;
}

nav {
  width: 100%;
  background-color: rgb(40, 134, 189);
  color: white;
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  line-height: 35px;
}

nav ul li a {
  text-decoration: none;
  color: wheat;
  transition: all 0.4s;
}

nav ul li a:hover {
  color: cyan;
  font-size: 14px;
}

nav ul button {
  margin-top: 5px;
  border: none;
  outline: none;
  background: rgb(0 0 0 / 0%);
  color: rgb(245 222 179);
  border: 1.3px solid rgb(255 255 255);
  border-radius: 4px;
  cursor: pointer;
}

nav ul button:hover {
  color: cyan;
  font-size: 14px;
  background: #111;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
